body {
    background-color: black;
    color: #CCCCCC;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: #F59E0B;
    font-size: 2.5rem;
}

h2, h3 {
    color: #FFFFFF;
}

.orange {
    color: #F59E0B;
}

.formateur {
    color: #3B82F6;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.orange-line {
    width: 50%;
    height: 4px;
    background-color: #F59E0B;
    margin: 10px auto;
}

p {
    color: #CCCCCC;
    font-size: 1.2rem;
}

input {
    background-color: transparent;
    border: 3px solid #F59E0B;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    border-radius: 8px;
    width: 80%;
    display: block;
    margin: 10px auto;
    font-weight: bold;
}

.cta {
    background-color: #10B981;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 40px;
    display: inline-block;
    margin: 20px auto;
    font-size: 1.5rem;
    transition: background 0.3s, transform 0.3s;
    animation: bounce 1.5s infinite alternate;
}

.cta:hover {
    background-color: #059669;
    transform: scale(1.1);
}

.icon-container {
    font-size: 5rem;
    color: #10B981;
    animation: pulse 1.5s infinite alternate;
}

.circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: transparent;
    border: 3px solid orange;
    color: orange;
    margin: 30px auto;
}

@keyframes bounce {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
